@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1703px) {
  .main {
      grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1425px) {
  .main {
      grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1033px) {
  .main {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 861px) {
  .main {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .main {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 280px) {
  .main {
      grid-template-columns: repeat(1, 1fr);
  }
}
.bg-navbar {
  background-color: rgb(64, 61, 57);
}

.text-golden {
  color: #FFD700; 
}


body {
  background-image: url('/assets/harryyy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}